  <div class="container-fluid products mt-5">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <i class="fas fa-table me-1"></i>
                    Products Manager 
                </div>
               <a href="/strand/admin/products/add" class="btn btn-primary btn-sm">
                Add Product
               </a>
            </div>
            <div class="card-body">
                <table id="productsTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Brand</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        {{#each products}}
                            <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.description}}</td>
                                <td>{{this.quantity}}</td>
                                <td>{{this.price}}</td>
                                <td>{{this.brand}}</td>
                                <td><a href="/strand/admin/products/edit/{{this._id}}" class="btn btn-warning btn-sm text-white">
                                        edit
                                    </a></td>
                            </tr>
                        {{/each}}
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
  </div>
